<!DOCTYPE html>
<html lang="en" class="theme-{{ theme or 'sage' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="color-scheme" content="dark">
  <title>{% block title %}claudia{% endblock %}</title>
  <link rel="stylesheet" href="/static/claudia.css?v={{ asset_version }}">
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body class="mode-{{ claudia_mode }}">
  {% block content %}{% endblock %}
</body>
</html>
